<!--right sidebar start-->
<div class="right-sidebar">
<div class="right-stat-bar">
<ul class="right-side-accordion">
<li class="widget-collapsible">
    <a href="#" class="head widget-head red-bg active clearfix">
        <span class="pull-left">###</span>
        <span class="pull-right widget-collapse"><i class="ico-minus"></i></span>
    </a>
    <ul class="widget-container">
        <li>
            <div class="prog-row side-mini-stat clearfix">
                <div class="side-graph-info">
                    <h4>####</h4>
                    <p>
                        ####
                    </p>
                </div>
                <div class="side-mini-graph">
                    <div class="target-sell">
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>
</ul>
</div>
</div>
<!--right sidebar end-->

</section>

<!--Core js-->
<script src="<%=folder%>assets/js/jquery.js"></script>
<script src="<%=folder%>assets/bs3/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="<%=folder%>assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="<%=folder%>assets/js/jquery.scrollTo.min.js"></script>
<script src="<%=folder%>assets/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script src="<%=folder%>assets/js/jquery.nicescroll.js"></script>
<script type="text/javascript" src="<%=folder%>assets/js/bootstrap-wysihtml5/wysihtml5-0.3.0.js"></script>
<script type="text/javascript" src="<%=folder%>assets/js/bootstrap-wysihtml5/bootstrap-wysihtml5.js"></script>
<script type="text/javascript" src="<%=folder%>assets/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<!--Easy Pie Chart-->
<script src="<%=folder%>assets/js/easypiechart/jquery.easypiechart.js"></script>
<script src="<%=folder%>assets/js/select2/select2.js"></script>
<script src="<%=folder%>assets/js/select-init.js"></script>
<!--common script init for all pages-->
<script src="<%=folder%>assets/js/scripts.js"></script>
<script src="<%=folder%>assets/js/toggle-init.js"></script>
<script src="<%=folder%>assets/js/advanced-form.js"></script>
<script type="text/javascript">
    //wysihtml5 start

    $('.wysihtml5').wysihtml5();

    //wysihtml5 end
</script>
</body>
</html>
