<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <title><%=my_title%></title>
    <!--Core CSS -->
    <link href="<%=folder%>assets/bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%=folder%>assets/css/bootstrap-reset.css" rel="stylesheet">
    <link href="<%=folder%>assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="<%=folder%>assets/css/style.css" rel="stylesheet">
    <link href="<%=folder%>assets/css/style-responsive.css" rel="stylesheet" />
</head>

  <body class="login-body">
