<%- include('assets/partials/content',{my_title:"Blog - Home",folder:""})%>

		<div class="wrapper wrapperThreeColumns">
			<div class="leftSidebar">
				<div class="theiaStickySidebar">
					<div class="box">
						<h2>Left Sidebar</h2>

						<p>
							Gloriatur neglegentur ea mel. Eu pro option moderatius, elitr nonumy molestiae
							ad nam. Quis labore eos ut, his ad sale officiis efficiendi. Usu ex petentium
							theophrastus, an his prima atqui. Eu quando vituperata vel. Ad eos modus
							aperiam omittantur, ludus scribentur et qui.
						</p>
					</div>
				</div>
			</div>

			<div class="content box">
				<div class="theiaStickySidebar">

					<%for(let i=0; i<dataPosts.Posts.length; i++){%>
						<div class="card">
							<!-- <div style="">
									<div class="cardCategory"><a href="#">Category</a></div>
									<div class="image" style="height: 350px; background-image: url('assets/images/loremipsum.jpg');"></div>
							</div> -->
							<div class="cardTitle">
								<a href="#"><%=dataPosts.Posts[i].title%></a>
								<div class="cardFooter">
									<span class="icon icon--time"><%=dataPosts.blog_name%></span>
									<span class="icon icon--time"><%=dataPosts.Posts[i].date_publish%></span>
									<span class="icon icon--comment"><a href="#">2 comments</a></span>
								</div>
							</div>
							<div class="cardDesc">
								<p style="font-size:16px;">
				          <%let posts = dataPosts.Posts[i].article.substr(0,280)%>
									<%-posts%>...
				        </p>
							</div>
						</div>
					<%}%>


				</div>
			</div>

			<div class="rightSidebar">
				<div class="theiaStickySidebar">
					<div class="box">
						<h2>Right Sidebar</h2>
						<p>
							Decore aliquando has in, mel exerci inermis an. Phaedrum consequat cum ex, harum
							legere ad qui. Ea quo movet omnium, graecis vituperatoribus sed te. Cu est omnis
							deseruisse referrentur.
						</p>
						<p>
						<div class="image" style="height: 200px; background-image: url('images/photo-1429593886847-3cc52983f919.jpg');"></div>
						</p>
					</div>

				</div>
			</div>
		</div>

		<div class="footer">
			<p>
				<div class="image" style="height: 900px; background-image: url('images/photo-1461016951828-c09537329b3a.jpg');"></div>
			</p>
		</div>

		<script>
			$(document).ready(function() {
				$('.leftSidebar, .content, .rightSidebar')
					.theiaStickySidebar({
						additionalMarginTop: 30
					});
			});
		</script>
	</body>
</html>
